
.button
{
    -fx-background-color : #232152;
    -fx-background-radius :  30 0 0 30;
    -fx-border-color : white;
    -fx-border-width : 0px 0px 0px 0px;
}
.button:hover
{
    -fx-background-color :linear-gradient(to top left, #aac3f4, #648cc8);
    -fx-background-radius :  30 0 30 0;
    -fx-border-width : 0px 0px 0px 0px;
}
.button:pressed
{
    -fx-background-color :linear-gradient(to top left, #648cc8, #aac3f4);
    -fx-background-radius :  30 30 30 30;
}
.Acropane
{
    
   
    -fx-background-radius:  0 20 20 0;
}
.button1
{
-fx-background-color :  #F87A04;
-fx-background-radius :  10;
}
.button1:hover
{
-fx-background-color : #524A7B ;
-fx-background-radius :  20;
}
.button1:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  20;
}
.button2
{
-fx-background-color :  #0A0232;
-fx-background-radius :  20;
}
.button2:hover
{
-fx-background-color : #524A7B ;
-fx-background-radius :  20;
}
.button2:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  20;
}
.button3 {
  -fx-background-color: #fff; 
  
  -fx-border-width:  2px  ;
  -fx-border-color: #0A0232;
  -fx-border-style: solid;
      
}
.button3:hover {-fx-background-color: #C4B7B7 ;
                -fx-border-width:  2px  ;
  -fx-border-color: #0A0232;
  -fx-border-style: solid;}

.button3:active {
  -fx-background-color: #C4B7B7;
    -fx-border-width:  2px  ;
  -fx-border-color: #0A0232;
  -fx-border-style: solid;

}


.img{
     -fx-border-width:  2px  ;
    -fx-border-radius: 10 10 10 10;
     -fx-border-color: #0A0232;
-fx-background-radius: 10 10 10 10;
}
.table-view{
    -fx-base:#0A0232;
    -fx-control-inner-background: #fff;
    -fx-background-color:transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 1;
    -fx-selection-bar-non-focused:  #2A2A2A;   
}
.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
    -fx-background-color: orange;
}
.jfx-tab-pane
{
-fx-padding: 1px;
-fx-background-color: blue, -fx-control-inner-background;
-fx-background-insets: 0, 1;

}

.jfx-tab-pane .headers-region
{
-fx-background-color: #ffff;
}

.jfx-tab-pane .tab-header-background
{
-fx-background-color: #ffff;
}

.jfx-tab-pane .tab-selected-line
{
-fx-stroke: #33ffff;
}
.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: #0A0232;
    -fx-font-size: 16;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #0A0232;
}